.stars {
    font-size: 1.5rem;
    padding: 0.5em 0;
}
.input-row label.stars {
    width: 65%;
}
.stars.small{
    font-size: 1.3rem;
}
.small .star {
    padding: 0 0.9rem;
}
.star {
    color: goldenrod;
    position: relative;
    padding: 0 1.1rem;
}
.star::before{
    position:absolute;
    top:0;
    left:0;
    content: '\2606';
    cursor: pointer;
}
.star.rated::before{
    /* the :hover should come first */
    content: '\2605' !important;
}
img.media-object.pull-left {
    max-width: 76px;
}
img.media-object {
    width: 100%;
}
#addModal label {
    float: left;
    width: 35%;
    padding: 8px 15px;
    line-height: 1.1;
}
textarea {
    resize: none;
}
.msg {
    padding: 4px;
    text-align: center;
    margin: 2px 0;
    opacity: 0;
    transition: opacity 0.5s ease-in; 
}
.error {
    background-color: #fdf1f1;
    color: #9c1010;
}
.load {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
.hidden {
    visibility: hidden;
    position: absolute;
}
.bar {
    height: 64px;
    padding-top: 20px;
}
.bar-nav~.content {
    padding-top: 65px;
}